.Login {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 2px solid #bf214b;
  border-radius: 10px;
}

.LoginBoxTitle {
  border: 1px solid red;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBoxMain {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginBoxMain span {
  margin-bottom: 10px;
  font: 17px Helvetica;
  color: #555252;
}

.LoginBoxMain input {
  height: 25px;
  border: 1px solid #8d8c8c;
  border-radius: 5px;
}

.LoginBoxMain button {
  margin-top: 15px;
  margin-left: 95px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  background-color: #bf214b;
  color: #fff;
  font: 15px Helvetica;
}
.LoginBoxMain button:hover {
  box-shadow: 0 1px 1px 0 #8d8c8c, 0 1px 1px 0 #8d8c8c;
  background-color: #b11e45;
}
