.App {
  height: 80%;
  width: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.Left-Sidebar {
  width: 200px;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.LogoContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
}

.Logo {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-color: green;
}

.ChannelsList {
  flex-grow: 1;
  overflow: hidden;
}

.ChannelsListContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.ChannelsListContainer::-webkit-scrollbar {
  display: none;
}

.Channel {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.ChannelTitle {
  margin-left: 5px;
}

.ChannelUserCount {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  border-radius: 10%;
}
.ChannelJoinButton {
  text-decoration: none;
}

.AddNetwork {
  height: 40px;
  border: 1px solid black;
}

.Room {
  display: inline-block;
  width: calc(100% - 200px);
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.Room-Title {
  height: 40px;
  width: 100%;
  border: 1px solid turquoise;
}

.Main {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Messages {
  width: calc(100% - 150px);
  overflow: hidden;
}

.MessageContainer {
  flex-grow: 1;
  overflow: hidden;
}

.MessageList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  overflow-x: hidden;
}

.MessageList::-webkit-scrollbar {
  display: none;
}

.Message {
  height: auto;
  width: 95%;
  border: 2px solid plum;
  display: flex;
  flex-direction: row;
}

.UserAvatarContainer {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.UserAvatar {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: salmon;
  border: 1px solid sandybrown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MessageBody {
  width: calc(100% - 50px);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.MessageTitle {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

.Username {
  color: slateblue;
  font-size: 14px;
}

.TimeStamp {
  color: grey;
  font-size: 13px;
  margin-left: 5px;
}

.MessageContent {
  display: flex;
  flex-wrap: wrap;
}

.Online-Users {
  height: 100%;
  width: 150px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
}

.OnlineUsersTitle {
  height: 40px;
  border: 1px solid yellowgreen;
  text-align: center;
  padding-top: 5px;
}

.UserList {
  flex-grow: 1;
  overflow: hidden;
}

.UserListContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.UserListContainer::-webkit-scrollbar {
  display: none;
}
.User {
  height: 30px;
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding-left: 5px;
}
.Message-Input {
  height: 40px;
  border: 1px solid pink;
}
