.App {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0  #b1b1b1,  0 17px 50px 0  #b1b1b1;
}

.Left-Sidebar {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #191918;
  border-radius: 10px 0 0 10px;
}

.LogoContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-image: url("../../img/logo-500x500.png");
  background-size: 65px 65px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ChannelsList {
  flex-grow: 1;
  overflow: hidden;
}

.ChannelsListContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.ChannelsListContainer::-webkit-scrollbar {
  display: none;
}

.Channel {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2e2e2e;
}

.SelectedChannel {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #535353;
}

.Channel:hover {
  background-color: #4b4b4b;
}

.ChannelTitle {
  margin-left: 10px;
}

.ChannelConnection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.ChannelUserCount {
  height: 20px;
  width: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #b11e45b0;
  font-size: 13px;
  font-weight: bold;
  border-radius: 25px;
  margin-right: 10px;
}
.ChannelJoinButton {
  text-decoration: none;
}

.AddNetwork {
  height: 40px;
  border-top: 2px solid rgb(75, 75, 75);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.AddNetworkButton {
  font-size: 20px;
}
